.banner {
    width: 100%;
    height: 70px;
}

/* Navbar */

.pride-nav {
    padding-top: 0;
    padding-bottom: 0;
    background: linear-gradient(45deg, red, orange, yellow, green, blue, indigo, violet, red);
}

.navbar-light .navbar-nav .nav-link {
    color: white;
}

.pride-link{
    width: 96px;
}

.red-bg {
    background-color: #c80000;
}

.orange-bg {
    background-color: #f39201;
}
.yellow-bg {
    background-color: #feed00;
}
.green-bg {
    background-color: #37a72f;
}
.blue-bg {
    background-color: #1d9ed6;
}
.purple-bg {
    background-color: #651d83;
}