
body {
    background-color: black;
}


.banner {
    width: 100%;
    height: 70px;
}

/* Hero Image */

#hero-image {
  background: url("/assets/images/hero-image.jpg") no-repeat center center;
  background-size: cover;
  height: 600px;
  width: 100%;
  z-index: -2;
  opacity: 0.8;
}

/* Navbar */

.pride-nav {
    padding-top: 0;
    padding-bottom: 0;
    background: linear-gradient(45deg, red, orange, yellow, green, blue, indigo, violet, red);
}

.navbar-light .navbar-nav .nav-link {
    color: white;
}

.pride-link{
    width: 96px;
}

/* .red-bg {
    background-color: #c80000;
}

.orange-bg {
    background-color: #f39201;
}
.yellow-bg {
    background-color: #feed00;
}
.green-bg {
    background-color: #37a72f;
}
.blue-bg {
    background-color: #1d9ed6;
}
.purple-bg {
    background-color: #651d83;
} */

/* Chat Rooms */

#chat-rooms{
  background-color: black;
  width: 100%;
}

#chat-rooms div {
  width: 20%;
  height: 300px;
  float: left;
  padding: 30px 0 0 10px;
  text-align: center;
  border: 2px solid white;
  box-sizing: border-box;
}

#chat-rooms div.art-room {
  /* Photo by <a href="https://unsplash.com/@tabithabrooke?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">tabitha turner</a> on <a href="https://unsplash.com/s/photos/art-gallery?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a> */
  background: url("/assets/images/art-card.jpg") no-repeat center center;
}

#chat-rooms div.music-room {
  /* Photo by <a href="https://unsplash.com/@akramhuseyn?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Akram Huseyn</a> on <a href="https://unsplash.com/s/photos/art-gallery?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a> */
  background: url("/assets/images/music-card.jpg") no-repeat center center;
}

#chat-rooms div.literature-room {
  /* Photo by <a href="https://unsplash.com/@prateekkatyal?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Prateek Katyal</a> on <a href="https://unsplash.com/s/photos/literature?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a> */
  background: url("/assets/images/literature-card.jpg") no-repeat center center;
}

#chat-rooms div.coffee-room {
  /* Photo by <a href="https://unsplash.com/@nate_dumlao?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Nathan Dumlao</a> on <a href="https://unsplash.com/s/photos/coffee-and-art?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a> */
  background: url("/assets/images/coffee-card.jpg") no-repeat center center;
}

#chat-rooms div.more-room {
  /* Photo from Pexels https://www.pexels.com/photo/landmark-lights-building-architecture-63328/ */
  background: url("/assets/images/more-card.jpg") no-repeat center center;
}

/* Footer */

footer {
    background-color: linear-gradient(rgba(0, 0, 0, 0, 0));
}

footer i {
    font-size: 2rem;
}

footer li {
    padding: 2% 5% 2%;
}

footer .social-networks {
    text-align: center;
}

 /* Code Credit https://codepen.io/FelixRilling/pen/qzfoc for Neon Glow */
footer i {
    color: #fff;
    font-family: Monoton;
    -webkit-animation: neon1 1.5s ease-in-out infinite alternate;
    -moz-animation: neon1 1.5s ease-in-out infinite alternate;
    animation: neon1 1.5s ease-in-out infinite alternate;
  }
  
  footer i:hover {
    color: #ff1177;
    -webkit-animation: none;
    -moz-animation: none;
    animation: none;
  }

  /*glow for webkit*/

@-webkit-keyframes neon1 {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #ff1177,
        0 0 70px #ff1177, 0 0 80px #ff1177, 0 0 100px #ff1177, 0 0 150px #ff1177;
    }
    to {
      text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #ff1177,
        0 0 35px #ff1177, 0 0 40px #ff1177, 0 0 50px #ff1177, 0 0 75px #ff1177;
    }
  }

  /*glow for mozilla*/

@-moz-keyframes neon1 {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #ff1177,
        0 0 70px #ff1177, 0 0 80px #ff1177, 0 0 100px #ff1177, 0 0 150px #ff1177;
    }
    to {
      text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #ff1177,
        0 0 35px #ff1177, 0 0 40px #ff1177, 0 0 50px #ff1177, 0 0 75px #ff1177;
    }
  }

  /*glow*/

@keyframes neon1 {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #ff1177,
        0 0 70px #ff1177, 0 0 80px #ff1177, 0 0 100px #ff1177, 0 0 150px #ff1177;
    }
    to {
      text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #ff1177,
        0 0 35px #ff1177, 0 0 40px #ff1177, 0 0 50px #ff1177, 0 0 75px #ff1177;
    }
  }
  /* ------- */

/*about page*/

 #about-header {
     text-align: center;
     padding: 30px;
     text-transform: uppercase;
 }

 #mission-statement {
     text-align: center;
     padding: 25px;
 }

 #mission-statement h2 {
     text-transform: uppercase;
 }

 .about-content {
     padding: 50px;

 }

 