@import url("https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barrio&display=swap");

body {
  background-color: black;
}

.banner {
  width: 100%;
  height: 70px;
}

/* Hero Image */

#hero-image {
  /* Photo by Sharon McCutcheon from Pexels */
  background: url("../assets/images/hero-image.jpg") no-repeat center center;
  background-size: cover;
  height: 500px;
  width: 100%;
  z-index: -2;
  opacity: 0.8;
}

/* Navbar */

.navbar-brand {
  font-family: "Barrio", cursive;
  font-size: 2.25rem;
  text-shadow: 2px 2px 4px #000000, 4px 4px 28px #ff00ff;
}

.pride-nav {
  padding-top: 0;
  padding-bottom: 0;
  background-color: linear-gradient(rgba(0, 0, 0, 0, 0));
}

.navbar-light .navbar-nav .nav-link {
  color: white;
}

.pride-link {
  font-family: "Gloria Hallelujah", cursive;
  font-weight: bolder;
  font-size: 1.5rem;
  color: #ff1177 !important;
  margin: 0 0.75rem;
}

/* Sign Up Button */

.pride-btn {
  font-family: 'Gloria Hallelujah', cursive;
  font-size: 1.5rem;
  font-weight: bolder;
  color: #ff1177!important;
  position: absolute;
  bottom: 10%;
  display: flex;
  justify-content: center;
  border-color: #fff;
  padding-bottom: 10px;
}

/* Chat Rooms */

#chat-rooms {
  width: 100%;
}

/* Credit Inspiration - Code Institute Love Running Project */

h5 {
  font-family: 'Gloria Hallelujah', cursive;
  font-size: 1.5rem;
}

#chat-rooms div.card {
  width: 20%;
  height: 350px;
  float: left;
  text-align: center;
  border: 2px solid white;
  box-sizing: border-box;
  flex-direction: unset;
  background: linear-gradient(
    45deg,
    red,
    orange,
    yellow,
    green,
    blue,
    indigo,
    violet,
    red
  );
}

#chat-rooms img {
  width: 100%;
  opacity: 0.75;
}

#chat-rooms i {
  padding: 2%;
  font-size: 1.5rem;
}

/* Media Queries */

@media screen and (max-width: 768px) {
  #chat-rooms div.card {
    width: 50%;
    height: 480px;
    padding: 0;
  }

  #chat-rooms div.more-card {
    margin-right: auto;
    margin-left: auto;
  }

  #chat-rooms img {
    overflow: hidden;
  }
}

@media screen and (max-width: 576px) {
  #chat-rooms div.card {
    width: 100%;
    clear: both;
    height: 550px;
    padding: 0;
  }
}

/* Footer */

footer {
  background-color: linear-gradient(rgba(0, 0, 0, 0, 0));
  clear: both;
  padding-top: 2%;
}

footer i {
  font-size: 2rem;
}

footer li {
  padding: 2% 5% 2%;
}

footer .social-networks {
  text-align: center;
}

 /* Code Credit https://codepen.io/FelixRilling/pen/qzfoc for Neon Glow */
 footer i,
 .pride-btn:hover,
 .pride-link:hover,
 .active,
 #myBtn:hover {
    color: #fff!important;
    -webkit-animation: neon1 1.5s ease-in-out infinite alternate;
    -moz-animation: neon1 1.5s ease-in-out infinite alternate;
    animation: neon1 1.5s ease-in-out infinite alternate;
  }
  
  footer i:hover {
    color: #ff1177!important;
    -webkit-animation: none;
    -moz-animation: none;
    animation: none;
  }

footer i:hover {
  color: #ff1177 !important;
  -webkit-animation: none;
  -moz-animation: none;
  animation: none;
}

/*glow for webkit*/

@-webkit-keyframes neon1 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #ff1177,
      0 0 70px #ff1177, 0 0 80px #ff1177, 0 0 100px #ff1177, 0 0 150px #ff1177;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #ff1177,
      0 0 35px #ff1177, 0 0 40px #ff1177, 0 0 50px #ff1177, 0 0 75px #ff1177;
  }
}

/*glow for mozilla*/

@-moz-keyframes neon1 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #ff1177,
      0 0 70px #ff1177, 0 0 80px #ff1177, 0 0 100px #ff1177, 0 0 150px #ff1177;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #ff1177,
      0 0 35px #ff1177, 0 0 40px #ff1177, 0 0 50px #ff1177, 0 0 75px #ff1177;
  }
}

/*glow*/

@keyframes neon1 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #ff1177,
      0 0 70px #ff1177, 0 0 80px #ff1177, 0 0 100px #ff1177, 0 0 150px #ff1177;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #ff1177,
      0 0 35px #ff1177, 0 0 40px #ff1177, 0 0 50px #ff1177, 0 0 75px #ff1177;
  }
}
/* ------- */

@media screen and (max-width: 1393px) {
  footer {
    padding-top: 5%;
  }
}

/*About Page*/

/*Code modified from W3 schools*/
div.transbox {
  background-color: #ffffff;
  opacity: 0.7;
}

div.transbox p {
  margin: 5%;
  font-weight: bold;
  color: #000000;
}
/*End of code from W3 schools*/

/* signup-form */

.signup-form {
    display: none;
    color: white;
    position: fixed; /* Stay in place */
    z-index: 9999; /* Sit on top */
    left: 40%;
    top: 20%;
    width: 400px; /* Full width */
    height: 450px;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 15px;
    box-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #ff1177,
        0 0 70px #ff1177, 0 0 80px #ff1177, 0 0 100px #ff1177, 0 0 150px #ff1177;
}

.pride-btn:hover {
    transform: scale(1.2);
}

 #about-header {
     text-align: center;
     padding: 30px;
     text-transform: uppercase;
 }

 #mission-statement {
     text-align: center;
     padding: 25px;
     margin: 0 250px;
    box-shadow: 0 20px 22px 0 rgb(247 89 83 / 20%), 0 15px 35px 0 rgb(247 89 83 / 19%);
    border-radius: 7px;
 }

#about-header {
  text-align: center;
  padding: 30px;
  text-transform: uppercase;
}

#mission-statement {
  text-align: center;
  padding: 25px;
  margin: 0 250px;
  box-shadow: 0 20px 22px 0 rgb(247 89 83 / 20%),
    0 15px 35px 0 rgb(247 89 83 / 19%);
  border-radius: 7px;
}

#mission-statement h2 {
  text-transform: uppercase;
}

@media only screen and (max-width: 425px) {
  #mission-statement {
    text-align: center;
    padding: 25px;
    margin: 0 25px;
    box-shadow: 0 20px 22px 0 rgb(247 89 83 / 20%),
      0 15px 35px 0 rgb(247 89 83 / 19%);
    border-radius: 7px;
  }
}

@media only screen and (min-width: 426px) and (max-width: 768px) {
  #mission-statement {
    text-align: center;
    padding: 25px;
    margin: 0 100px;
    box-shadow: 0 20px 22px 0 rgb(247 89 83 / 20%),
      0 15px 35px 0 rgb(247 89 83 / 19%);
    border-radius: 7px;
  }
}

.about-content {
  padding: 50px;
}

h1,
h2 {
  font-family: "Gloria Hallelujah", cursive;
}

ul a {
  color: #9c0d48f0;
  text-decoration: underline;
}

/* Gallery Styling */

#gallery-header {
  height: 20vh;
}

/* Credit - https://cssgradient.io/blog/css-gradient-text/ */
#gallery-title {
  font-size: 3rem;
  font-weight: bold;
  line-height: 5rem;
  letter-spacing: 4px;
  background: linear-gradient(
    90deg,
    rgb(252, 52, 52) 0%,
    rgb(233, 156, 55) 20%,
    rgb(231, 235, 36) 40%,
    rgb(22, 184, 30) 60%,
    rgb(45, 121, 219) 80%,
    rgb(179, 11, 151) 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* Masonry Styling Start */

/* Column count of 1 for small screen sizes */
#masonry-container {
  column-count: 1;
  column-gap: 1rem;
}

.masonry-item {
  width: 100%;
  margin: 0 0 1rem;
  position: relative;
  overflow: hidden;
}

/* Description */
.masonry-item::before {
  content: attr(data-description);
  position: absolute;
  width: 90%;
  left: 50%;
  bottom: 1rem;
  color: #fff;
  transform: translateX(-50%);
  z-index: 2;
  opacity: 1;
  transition: bottom 500ms ease-in-out, opacity 1s ease-in-out;
}

/* Description hover */
.masonry-item:hover::before {
  opacity: 1;
  bottom: 1rem;
}

/* Overlay slide */
.masonry-item::after {
  content: "";
  position: absolute;
  height: 5rem;
  width: 100%;
  left: 0;
  bottom: 0rem;
  background-color: rgba(0, 0, 0, 0.8);
  transition: bottom 500ms ease-in-out;
}

/* Overlay slide hover */
.masonry-item:hover::after {
  bottom: 0;
}

.masonry-image {
  width: 100%;
}

/* Column count of 2 for medium screen sizes */
@media (min-width: 768px) {
  #masonry-container {
    column-count: 2;
  }

  .masonry-item::before {
    bottom: 1rem;
    opacity: 1;
  }

  .masonry-item::after {
    bottom: 0rem;
  }
}

/* Column count of 3 for large screen sizes */
@media (min-width: 992px) {
  #masonry-container {
    column-count: 3;
  }

  .masonry-item::before {
    bottom: -5rem;
    opacity: 0;
  }

  .masonry-item::after {
    bottom: -5rem;
  }
}

/* Column count of 4 for x-large screen sizes and above */
@media (min-width: 1200px) {
  #masonry-container {
    column-count: 4;
  }
}

/* Masonry Styling End */

/* START: Back-to-top button styling 
Tweak of the main idea from https://www.w3schools.com/howto/howto_js_scroll_to_top.asp */

#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  color: #fff;
  background-color: #ff1177;
  border: solid 2px #fff;
  cursor: pointer;
  padding: 15px;
  border-radius: 50%;
  line-height: 1;
}

#myBtn:hover {
  border-color: #ff1177;
}

/* END: Back-to-top button styling */
